<center>
	<h1>Movie Trivia</h1>
	
	<h2>Hello! Welcome to the best trivia game around!</h2>
	
	<h3>To start, please enter a key term to gather a list of movies and begin the game.</h3>

	<form action="/movie_list" method="POST">
	  <input type="text" name="term"
	      placeholder="Key Term">

	  <button type="submit">
	    Search
	  </button>

	</form>

</center>